/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.nav-expander {

  color: #000;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-left: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: left 0.3s ease-in-out 0s;
  width: 150px;
  z-index: 12;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    left: 20em;
}

.sideNav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -25em;
  font-size: 15px;
  top: 0;
  width: 25em;
  z-index: 2000;
  
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  left: 0;
}

body.nav-expanded {

  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
}

.main-menu {
  padding-top: 12px;
  list-style: none;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-right: 15px;
  font-size: 18px;
  padding: 10px;
  list-style-type: none; 

}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #4f5963;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  margin-top: 8px;
}

.main-menu .menu-item menu-item-3{
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px;
}

.main-menu h5{
  font-size: 15px;
  padding: 10px;
  list-style-type: none; 
   text-decoration: none;
   height: 10px;
}